/* Define a base font size using 'rem' */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: 'Rowdies', sans-serif;
}
p{
    font-family: 'Playpen Sans', cursive;
}

html {
    font-size: 62.5%;
}


body {
    font-family: Arial, sans-serif;
}

/* Navbar Styles */
header {
    background-color: #474747;
    color: #fff;
}


.navbar {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 0rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo img {
    width: 7rem;

}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 3rem;
    /* 16px */
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.8rem;
    /* 16px */
    transition: all .5s linear;
}

.nav-links a:hover {
    color: rgb(230, 147, 40);
}

/* Dropdown Styles */
.dropdown {
    position: relative;
    cursor: pointer;
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 10rem;
    /* 160px */
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    /* 16px */
}

.dropdown-content a:hover {
    background-color: #555;
}

/* Search Box Styles */
.search-container {
    display: flex;
    align-items: center;
}

.search-container input[type="text"] {
    padding: 0.5rem;
    /* 8px */
    border: none;
    border-radius: 0.5rem;
    /* 8px */
}

.search-container button {
    background-color: #ff9900;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    /* 8px */
    padding: 0.5rem 1rem;
    /* 8px 16px */
    cursor: pointer;
    margin-left: 0.5rem;
    /* 8px */
}




.sub-menu {
    width: 100%;
    height: 3rem;
    background-color: rgb(247, 241, 80);

}

.sub-menu ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    line-height: 3rem;

}

.sub-menu ul li {
    list-style: none;
}

.sub-menu ul li a {
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
}


.submenu_icon {
    display: none;
}


/* Hero Section Styles */
.hero {
    width: 100%;
    height: 85vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/image/hero1.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 4rem 0;

}

.hero-content {
    padding: 5rem;
}

.hero-content h1 {
    margin-top: 0rem;
    font-size: 5.2rem;
    font-weight: bold;
    color: #000000;
}

.hero-content p {
    font-size: 1.7rem;
    letter-spacing: .3rem;
    margin-top: 3rem;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 0 0 0.2rem black;
}

.cta-button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color:#FF10F0;
    color: #ffffff;
    text-decoration: none;
    border-radius: 2rem;
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 5rem;
    transition: all .5s linear;
}
.cta-button:hover{
    background-color: #1ee43f;
    transform: translateY(-1rem);

}

/* Featured Courses Section Styles */


.courses_1 {
    width: 100%;
    height: 100vh;
background-color: rgb(224, 224, 152);
}

.coures_section {
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cours_left {
    width: 50%;
    text-align: center;
}

.cours_left h1 {
    font-size: 5rem;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.cours_left p {
    font-size: 3rem;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

.cours_left .course_1_button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: rgb(11, 36, 110);
    color: #ffffff;
    text-decoration: none;
    border-radius: 3rem;
    border: none;
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 3rem;
    transition: all .4s linear;
}
.course_1_button:hover{
    background-color: #e41eb6;
    transform: translateY(-1rem);
}
.cours_right {
    width: 40rem;
    height: 40rem;
    background-image: url("/image/lightbulb.jpg");
    background-size: cover;
    background-position: center;
}

.courses_2{
    width: 100%;
    height: 100vh;
background-color: #56d3d3;

}
.courses_2 .coures_section2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}
.courses_2 .coures_section2 .cours_right{
    width: 40rem;
    height: 40rem;
    background-image: url("/image/audio.jpg");
    background-size: cover;
    background-position: center;
}


/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
    font-size: 1.4rem;
}
footer .icon{
    font-size: 2.5rem;
    margin-top: 1.5rem;
    
}




/* Responsive Styles (adjust as needed) */
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .navbar {
        flex-direction: column;
    }

    .search-box {
        margin-top: 1rem;
        /* 16px */
    }
}