<!DOCTYPE html>
<html lang="en">

<head>
    {{>links}}
    <title>Educational Website</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    {{>navbar}}
    <section class="electrical">
          <div class="side_button">
            <button>
                <i class="fa-solid fa-bars"></i>
                <i class="fa-solid fa-xmark"></i>
            </button>
              
        </div>
        <div class="side_bar active">
      
         <h2>Amlifire topis</h2>
        <div class="electrical_toic_links ">
         
          <ul>
                <li> <a href="#">this is first link</a> </li>
                <li> <a href="#">this is second link</a> </li>
                <li> <a href="#">this is third link</a> </li>
                <li> <a href="#">this is forth link</a> </li>
                <li> <a href="#">this is five link</a> </li>
                <li> <a href="#">this is six link</a> </li>
                <li> <a href="#">this is seven link</a> </li>
                <li> <a href="#">this is eat link</a> </li>
                <li> <a href="#">this is nine link</a> </li>
                <li> <a href="#">this is ten link</a> </li>
                <li> <a href="#">this is eleven link</a> </li>
                <li> <a href="#">this is tvelve link</a> </li>
                <li> <a href="#">this is thirtin link</a> </li>
                <li> <a href="#">this is first link</a> </li>
                <li> <a href="#">this is first link</a> </li>
                <li> <a href="#">this is first link</a> </li>
                <li> <a href="#">this is first link</a> </li>
                <li> <a href="#">this is first link</a> </li>
                <li> <a href="#">this is first link</a> </li>
            </ul>
      

        </div>
        </div>
        <div class="main_electrical_page">
                 
<div class="page_content">

    
 <h3>this is amplifire page</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium iste asperiores repellat? Eaque
                quidem quam quas iure, dicta eveniet perferendis praesentium ipsum, laudantium quod nostrum itaque
                cupiditate pariatur sapiente dolorem natus? Sapiente dignissimos quisquam laudantium assumenda eos
               
                
                necessitatibus expedita tenetur doloremque nobis ratione. Dolorum libero, soluta saepe, quam, neque
                accusamus vel quibusdam et aut sequi in distinctio cupiditate. Porro temporibus repellat deleniti cum,
                consequatur eaque odit cumque esse excepturi ullam similique! Corrupti iste, explicabo obcaecati rem
                unde quod tempora atque aut deleniti voluptatum quas commodi.</p>
                    <h3>this is electrical page</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium iste asperiores repellat? Eaque
                quidem quam quas iure, dicta eveniet perferendis praesentium ipsum, laudantium quod nostrum itaque
                cupiditate pariatur sapiente dolorem natus? Sapiente dignissimos quisquam laudantium assumenda eos
               
                
                necessitatibus expedita tenetur doloremque nobis ratione. Dolorum libero, soluta saepe, quam, neque
                accusamus vel quibusdam et aut sequi in distinctio cupiditate. Porro temporibus repellat deleniti cum,
                consequatur eaque odit cumque esse excepturi ullam similique! Corrupti iste, explicabo obcaecati rem
                unde quod tempora atque aut deleniti voluptatum quas commodi.</p>
                    <h3>this is electrical page</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium iste asperiores repellat? Eaque
                quidem quam quas iure, dicta eveniet perferendis praesentium ipsum, laudantium quod nostrum itaque
                cupiditate pariatur sapiente dolorem natus? Sapiente dignissimos quisquam laudantium assumenda eos
               
                
                necessitatibus expedita tenetur doloremque nobis ratione. Dolorum libero, soluta saepe, quam, neque
                accusamus vel quibusdam et aut sequi in distinctio cupiditate. Porro temporibus repellat deleniti cum,
                consequatur eaque odit cumque esse excepturi ullam similique! Corrupti iste, explicabo obcaecati rem
                unde quod tempora atque aut deleniti voluptatum quas commodi.</p>
                    <h3>this is electrical page</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium iste asperiores repellat? Eaque
                quidem quam quas iure, dicta eveniet perferendis praesentium ipsum, laudantium quod nostrum itaque
                cupiditate pariatur sapiente dolorem natus? Sapiente dignissimos quisquam laudantium assumenda eos
               
                
                necessitatibus expedita tenetur doloremque nobis ratione. Dolorum libero, soluta saepe, quam, neque
                accusamus vel quibusdam et aut sequi in distinctio cupiditate. Porro temporibus repellat deleniti cum,
                consequatur eaque odit cumque esse excepturi ullam similique! Corrupti iste, explicabo obcaecati rem
                unde quod tempora atque aut deleniti voluptatum quas commodi.</p>
                    <h3>this is electrical page</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium iste asperiores repellat? Eaque
                quidem quam quas iure, dicta eveniet perferendis praesentium ipsum, laudantium quod nostrum itaque
                cupiditate pariatur sapiente dolorem natus? Sapiente dignissimos quisquam laudantium assumenda eos
               
                
                necessitatibus expedita tenetur doloremque nobis ratione. Dolorum libero, soluta saepe, quam, neque
                accusamus vel quibusdam et aut sequi in distinctio cupiditate. Porro temporibus repellat deleniti cum,
                consequatur eaque odit cumque esse excepturi ullam similique! Corrupti iste, explicabo obcaecati rem
                unde quod tempora atque aut deleniti voluptatum quas commodi.</p>
                    <h3>this is electrical page</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium iste asperiores repellat? Eaque
                quidem quam quas iure, dicta eveniet perferendis praesentium ipsum, laudantium quod nostrum itaque
                cupiditate pariatur sapiente dolorem natus? Sapiente dignissimos quisquam laudantium assumenda eos
               
                
                necessitatibus expedita tenetur doloremque nobis ratione. Dolorum libero, soluta saepe, quam, neque
                accusamus vel quibusdam et aut sequi in distinctio cupiditate. Porro temporibus repellat deleniti cum,
                consequatur eaque odit cumque esse excepturi ullam similique! Corrupti iste, explicabo obcaecati rem
                unde quod tempora atque aut deleniti voluptatum quas commodi.</p>
</div>
           
        </div>

    </section>




    {{>footer}}

    <script src="script.js"></script>

</body>

</html>