<!DOCTYPE html>
<html lang="en">
<head>
   {{>links}}
         <title>Educational Website</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    {{>navbar}}


<h1>this is electrical section</h1>


      {{>footer}}

    <script src="script.js"></script>
    
</body>
</html>