<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educational Website</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    {{>navbar}}
    <section class="shearch_results">
        <ul id="searchResults"></ul>
    </section>

    <section class="hero">
        <div class="hero-content">
            <h1>Welcome To Our Electrical Education Class

            </h1>
            <p>"Start your electrical journey with E2 classes. We have basics to advanced topics of electronics, and we
                give small projects for practice."
            </p>
            <a href="#" class="cta-button">Get Started</a>
        </div>
    </section>

    <section class="courses_1">
        <div class="coures_section">
            <div class="cours_left">
                <h1>electrical</h1>
                <p>electrical सीखे अपनी आसान भाषा में </p>
                <button class="course_1_button">
                    <a href="#">Learn Electrical</a>
                </button><br>
                <button class="course_1_button">
                    <a href="#"> Get Projects</a>
                </button> <br>
                <button class="course_1_button">
                    <a href="#"> Vedio Tutorials</a>
                </button>
            </div>
            <div class="cours_right">


            </div>
        </div>

    </section>

    <section class="courses_2">
        <div class="coures_section2">
            <div class="cours_left">
                <h1>Amplifire</h1>
                <p>Amplifire सीखे अपनी आसान भाषा में </p>
                <button class="course_1_button">
                    <a href="#">Learn Amplifire</a>
                </button><br>
                <button class="course_1_button">
                    <a href="#"> Get Projects</a>
                </button> <br>
                <button class="course_1_button">
                    <a href="#"> Vedio Tutorials</a>
                </button>
            </div>
            <div class="cours_right">


            </div>
        </div>

    </section>

  
  {{>footer}}

    <script src="script.js"></script>
</body>

</html>