<footer>
        <p>&copy; 2023 Your Educational Site</p>
        <p>
            If you have learned anything from our website, then share our website with
            your friends through the social media <br> buttons given below so that they can also take advantage
            of this website.
        </p>
        <div class="social_icon">
       <div class="sharethis-inline-share-buttons"></div>
        </div>
         
        <div class="contact_icon">
               <p>
         if you have any complaint or went to give any suggestion, you can contact us by nuber given below.
        </p>
        <div class="contact_num">
           <i class="fa-solid fa-phone"></i>
           <p>+918763027659</p>
           </div>
           
        </div>
    </footer>