<footer>
        <p>&copy; 2023 Your Educational Site</p>
        <p>
            If you have learned anything from our website, then share our website with
            your friends through the social media <br> buttons given below so that they can also take advantage
            of this website.
        </p>
        <div class="icon">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-whatsapp"></i>
            <i class="fa-brands fa-square-instagram"></i>
        </div>
            <p>
         if you have any complaint or went to give any suggestion, you can contact us by clicking the button given below.
        </p>
        <div class="icon">
           <i class="fa-solid fa-phone"></i>
            <i class="fa-brands fa-whatsapp"></i>
        </div>
    </footer>