   <header>
        <nav class="navbar">
        <div class="logo">
            <img src="image/logo.png" alt="logo image">
        </div>
        <ul class="nav-links">
              <div class="dropdown">
                    <a href="#">Menu <i class="fa-solid fa-caret-down"></i></a>
                    <div class="dropdown-content">
                        <a href="/">Home </a>
                        <a href="/tips">tips </a>
                        <a href="/images">Images </a>
                        <a href="/vedios">Videos </a>
                        <a href="/about">About us </a>

                    </div>
                </div>
            <li><a href="/">Home</a></li>
            
            <li><a href="/tips">Tips</a></li>
            <li><a href="/images">Images</a></li>
            <li><a href="/vedios">Videos</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
         <div class="search-container">
        <input type="text" id="searchInput" placeholder="Search......">
        <button id="searchButton">Search</button>
    </div>
    </nav>
    </header>
      <div class="sub-menu">
        <div class="menu">
           
            <ul>
                <div class="submenu_icon">
                 <i class="fa-solid fa-bars"></i>
                <i class="fa-solid fa-xmark"></i>
                </div>
              
                <li><a href="#">electrical</a></li>
                <li><a href="#">amplifire</a></li>
                <li><a href="#">transformers</a></li>
                <li><a href="#">speakers</a></li>
                <li><a href="#"> motors</a></li>
                <li><a href="#"> led</a></li>
                <li><a href="#">welding</a></li>
                <li><a href="#"> sound coil</a></li>
                <li><a href="#"> stablizer</a></li>


            </ul>
        </div>
    </div>